{{msg}}
<form class="col s12" action="send" method="POST">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix white-text">account_circle</i>
      <input id="icon_prefix" name="name" type="text" class="validate white-text">
      <label for="icon_prefix" class="white-text">First Name</label>
    </div>
    <div class="input-field col s6">
      <i class="material-icons prefix white-text">email</i>
      <input id="icon_email" name="email" type="email" class="validate white-text">
      <label for="icon_email" class="white-text">Email</label>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix white-text">mode_edit</i>
      <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text"></textarea>
      <label for="icon_prefix2" class="white-text">Message</label>
    </div>
    <div class="col offset-s7 s5">
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="mdi-content-send right white-text"></i>
      </button>
    </div>
  </div>
</form>